{% extends 'global/page.html' %} 
{% load static %} {% block pagestyle %}{% static 'styles/manage.css' %}{% endblock %}
{% block title %}Manage Feeds {% endblock %} 
{% block body %}
<div class="manage-card">
	{% if not user.is_authneticated %}
	<form  id="distanceForm" method="POST">
		{% csrf_token %}
		{{rangeForm}}
		<span id="rangeValue" default=1></span>

		<button name="distanceForm" type="submit">Apply</button>



	</form>

	<form method="post">
	    {% csrf_token %}
	    <label for="address">Enter Address:</label>
	    <input type="text" name="address" id="address" required>
	    <button name="getGPS" type="submit">Get Coordinates</button>
	</form>

	<form method="post">
	    {% csrf_token %}
	    <div class="phraseBox" style="border:black 2px solid; overflow:auto;">
	    {{ PhraseListForm.as_p }}
		    {% if PhraseList %}
		    	{% for Phrase in PhraseList%}
			<li>{{Phrase}}</li>
		    	{% endfor %}
		    {% endif %}

		    <hr>
	    <button name="queryKeywords" type="submit">Submit Job Titles</button>

	    </div>
	</form>

	<h3> URL LIST </h3>
	<form method="post">
	    {% csrf_token %}

	    <button name="getURLS" type="submit">1. Update URL List</button>
	    <button name="procList" type="submit">2. Process URL List</button>
	    <button  name="startParsingButton" id ="startParsingButton">Start Parsing</button>

	    <div id="loading-spinner" class="loading-spinner" style=display:none;"></div>
	    <div class="phraseBox" style="border:black 2px solid; border-radius:15px; overflow:scroll;">
		    {% if url_list %}
		    	{% for url in url_list %}
			<li>{{url.url}}</li>
		    	{% endfor %}
		    {% endif %}
	    </div>

	</form>


	<script>

		const rangeInput = document.getElementById('distanceRange');
		const rangeValue = document.getElementById('rangeValue');
		
		rangeInput.addEventListener('input', () => {
		    rangeValue.textContent = rangeInput.value;
		});
	</script>
	{% else %}
	{% include 'global/userauth_error.html' %}

	{% endif %}

</div>
<script>

document.addEventListener("DOMContentLoaded", function() {
  const startButton = document.getElementById("startParsingButton");
  const loadingButton = document.getElementById("loading-spinner");

  startButton.addEventListener("click", function() {
    startButton.style.display = "none";
    loadingButton.style.display = "block";

    // Simulate a time-consuming process
    setTimeout(function() {
      // Once the process is done, hide the loading button and show the start button again
      loadingButton.style.display = "none";
      startButton.style.display = "block";
    }, 10000000); // Simulating a 3-second process, replace with actual processing time
  });
});
</script>
{% endblock %}


